
{% extends 'sys_admin/base_admin.html' %}
{% load static %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
    {% endblock styles %}

    {% block content %}


    <!-- message ----------------------->
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="alert-box">
            <div class="alert alert-warning">
                <label id="idErrorLabel"></label>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row box-wrap">
            <!-- new column 1 added for user form -  user registartion form-->
            <div class="col-lg-6 col-md-8 col-sm-12">

                <!-- user registration form ----------------------------------->
                <div class="bg-white regis-box" id="divIdContent">
                    <form action="{% url 'addBusiness' %}" id="idForm" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-box"><!-- form box-->
                            <div class="reg-wrap">
                                <h3 class="reg-text">
                                    Business Registration
                                </h3>
                                <hr>
                            </div>

                            <div class="form-group"> <!-- start of user reg form -->
                                <div class="form-row"> <!-- form row1 -->
                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.name.id_for_label}}">Name</label><span class="red_star">*</span>
                                        <input type="text" placeholder="Business Name" name="{{form.name.name}}" id="{{form.name.id_for_label}}" maxlength="100" class="form-control" required>
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.email.id_for_label}}">Email</label>
                                        <input type="email" placeholder="eg: test@test.com" name="{{form.email.name}}" id="{{form.email.id_for_label}}" maxlength="256" class="form-control">
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.mobile.id_for_label}}">Mobile Number</label><span class="red_star">*</span>
                                        <input type="text" minlength="10" placeholder="9876543210" name="{{form.mobile.name}}" id="{{form.mobile.id_for_label}}" maxlength="10" class="form-control" required>
                                        <span id="errmsg" style="color:red"></span>
                                    </div>

                                </div><!-- end of form row1 -->

                                <div class="form-row"> <!-- form row2 -->

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.payment_percentage.id_for_label}}">Payment %</label><span class="red_star">*</span>
                                        <input type="number" placeholder="80.0" name="{{form.payment_percentage.name}}" id="{{form.payment_percentage.id_for_label}}" step="0.1" class="form-control" required>
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.secondary_mobile.id_for_label}}">Secondary Mobile</label>
                                        <input type="text" minlength="10" placeholder="9876543210" name="{{form.secondary_mobile.name}}" id="{{form.secondary_mobile.id_for_label}}" maxlength="15" class="form-control">
                                        <span id="errmsg1" style="color:red"></span>
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.manager.id_for_label}}">Manager</label>
                                        <input type="text" placeholder="9876543210" name="{{form.manager.name}}" id="{{form.manager.id_for_label}}" maxlength="100" class="form-control">
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld">
                                        <label for="{{form.manager_mobile.id_for_label}}">Manager Mobile</label>
                                        <input type="text" minlength="10" placeholder="Manager" name="{{form.manager_mobile.name}}" id="{{form.manager_mobile.id_for_label}}" maxlength="10" class="form-control">
                                        <span id="errmsg2" style="color:red"></span>
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld form_sel">
                                        <label for="{{form.area_specified.id_for_label}}">Area Specified</label><span class="red_star">*</span>
                                        <select name="{{form.area_specified.name}}" id="{{form.area_specified.id_for_label}}" class="form-control" required>
                                            <option value="">----------------------</option>
                                            {% for i in all_area %}
                                                <option value="{{i.id}}">{{i.area}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-4 col-md-4 frm_fld form_sel">
                                        <label for="{{form.category.id_for_label}}">Category</label><span class="red_star">*</span>
                                        <select name="{{form.category.name}}" id="{{form.category.id_for_label}}" class="form-control" required>
                                            <option value="">----------------------</option>
                                            {% for i in all_category %}
                                                <option value="{{i.id}}">{{i.store_type}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                    <div class="col-lg-6 col-md-6 frm_fld">
                                        <label for="{{form.address.id_for_label}}">Address</label>
                                        <textarea name="{{form.address.name}}" id="{{form.address.id_for_label}}" rows="5" class="form-control"></textarea>
                                    </div>

                                    <div class="col-lg-6 col-md-6 frm_fld">
                                        <label for="{{form.about.id_for_label}}">About Business</label>
                                        <textarea name="{{form.about.name}}" id="{{form.about.id_for_label}}" rows="5" class="form-control"></textarea>
                                    </div>

                                </div><!--end of  form row2 -->

                                <input type="hidden" name="key" id="id_key">

                            </div><!-- end  of user reg form -->

                            <!-- save button -->
                            <div class="btn-box-wrap">
                                <button type="submit" id="idSave" class="btn btn-regis">Save</button>
                            </div>

                        </div><!-- end of form box-->
                    </form>
                </div><!-- end of user reg form-->
                
            </div><!-- end of new column 1 added for user form-->

            <div class="overlay">
                <div style="position: absolute;top: 40%;left: 50%;">
                    <i class="fa fa-spinner fa-spin fa-5x" id="id_loader"></i>
                </div>
            </div>

        </div> <!-- end of row1 -->


        <div class="row datatablerow"> <!-- start of row2 -->
            <!-- user table-------------------------------------->
            <div class="col-12 userpage_table pb-4">
                    <!--<div class="">-->
                            <h4 class="table_name">Registered Business</h4>
                            <hr>
<!--                            &lt;!&ndash; searchbar-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->
<!--                            <div class="row searchbar_row"> &lt;!&ndash; start of row &ndash;&gt;-->
<!--                                <div class="col-lg-4 col-md-6 float-right">-->
<!--                                    <div class="input-group">-->
<!--                                        <input type="search" class="form-control search table_search" aria-label="Search.." placeholder="Enter business name here.." >-->
<!--                                        <div class="input-group-append">-->
<!--                                            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &lt;!&ndash; end of row &ndash;&gt;-->

                            <table id="id_data_table" class="table table-hover bg-white">

                                <thead class="br-bottom" style="background-color: #E5ECF0;">
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Mobile No</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">Area</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Edit</th>
                                        <th scope="col">Delete</th>
                                    </tr>
                                </thead>

                                <tbody>
                                {% for emp in all_business %}
                                    <tr class="br-bottom clear">
                                        <td class="name">{{ emp.name }}</td>
                                        <td>{{ emp.email }}</td>
                                        <td>{{ emp.mobile }}</td>
                                        <td>{{ emp.address }}</td>
                                        <td>{{ emp.area_specified.area }}</td>
                                        <td>
                                            <label class="switch">
                                                {% if emp.is_active %}
                                                    <a href="{% url 'disableBusiness' pk=emp.id %}" onclick="return confirm('Are you sure want to disable the Business?')">
                                                        <input type="checkbox" checked >
                                                        <span class="slider round mb-1"></span>
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'enableBusiness' pk=emp.id %}" onclick="return confirm('Are you sure want to enable the Business?')">
                                                        <input type="checkbox">
                                                        <span class="slider round mb-1"></span>
                                                    </a>
                                                {% endif %}
                                            </label>
                                        </td>
                                        <td>
                                            <span class="">
                                                <img src='{% static "img/edit.svg" %}' id="{{ emp.id }}" class="edit-icon-menu" title="Edit Business">
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{% url 'deleteBusiness' pk=emp.id %}" onclick="return confirm('Are you sure want to delete this Business?');" title="Delete Business">
                                                <span class="fa fa-trash mt-1" style="color: #e04141;"></span>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                    <!-- </div> -->

            </div><!-- end of user table-->

        </div> <!-- end of row2 -->

    </div><!--end of container -->

    {% load static %}
    <script src="{% static 'js/common/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.js' %}"></script>
    <script src="{% static 'js/sys_admin/add_business.js' %}"></script>

{% endblock %}
