{% extends 'sys_admin/base_admin.html' %}
{% load static %}
    {% block styles %}
        <link rel="stylesheet" href="{% static 'css/user.css' %}">
    {% endblock styles %}

    {% block content %}

    <!-- message ----------------------->
    <div class="container">
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="alert-box">
            <div class="alert alert-warning">
                <label id="idErrorLabel"></label>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 frm_fld">
                <form action="{% url 'agent_payment_history' %}" id="idForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <!-- search and filter alarms-->
                    <div class="form-group">
                        <div class="form-row">
                            <!-- date from-->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 frm_fld form_sel">
                                <label for="id_date_from" title="Search activity logs from this date to present">Date From</label>
                                <input type="date" name="date_from" id="id_date_from" class="form-control">
                            </div>
                            <!-- date-->
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 frm_fld form_sel">
                                <label for="id_date_to" title="Search activity logs for a particular date">Date To</label>
                                <input type="date" name="date_to" id="id_date_to" class="form-control">
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 frm_fld form_sel">
                                <label for="id_delivery_agent">Agent</label>
                                <select name="delivery_agent" id="id_delivery_agent" class="form-control">
                                    <option value="">----------------</option>
                                    {% for i in all_delivery_agents %}
                                        <option value="{{i.id}}">{{i.name}} -- {{i.mobile}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 frm_fld form_sel">
                                <label for="id_payment_type">Payment Type</label>
                                <select name="payment_type" id="id_payment_type" class="form-control">
                                    <option value="">----------------</option>
                                    <option value="debit">Debit</option>
                                    <option value="credit">Credit</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <!-- search button-->
                        <div class="text-center">
                            <input type="submit" id="idSave" class="btn btn-regis" value="Search">
                        </div>
                    </div>
                </form>

            </div>

        </div><!--end of row -->
    </div>

    <div class="container-fluid">
        <div class="row datatablerow"> <!-- start of row2 -->
            <!-- user table-------------------------------------->
            <div class="col-12 userpage_table pb-4">
                <h4 class="table_name">Agent Payment History</h4>
                <hr>
                <table id="id_data_table" class="table table-hover bg-white">
                    <thead class="br-bottom" style="background-color: #E5ECF0;">
                        <tr>
                            <th scope="col">Reference ID</th>
                            <th scope="col">Agent</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Transactions</th>
                            <th scope="col">Pay. Method</th>
                            <th scope="col">Status</th>
                            <th scope="col">Dated</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for emp in all_agent_payment %}
                        <tr class="br-bottom clear">
                            <td class="name">{{ emp.reference_id }}</td>
                            <td>{{ emp.delivery_agent.name }}</td>
                            <td>{{ emp.amount }}</td>
                            <td>{{ emp.transactions.all| join:", " }}</td>
                            <td>{{ emp.pay_by }}</td>
                            <td>
                                {% if emp.is_credit %}
                                    Debit
                                {% elif emp.is_debit %}
                                    Credit
                                {% else %}
                                    NA
                                {% endif %}
                            </td>
                            <td>{{ emp.created|date:'j-N-y' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- end of user table-->

        </div> <!-- end of row2 -->

    </div><!--end of container -->

    {% load static %}
    <script src="{% static 'js/common/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/datatables.js' %}"></script>
    <script type="text/javascript" charset="utf8" src="{% static 'DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.js' %}"></script>
    <script>
        $(document).ready( function(){
            $('#id_data_table').DataTable();
        });
    </script>

{% endblock %}
