{% extends 'user/base_user.html' %}

{% load static %}
{% block content %}

<section class="pt-3">
    <div class="container-fluid shop-section">
        <div class="container">
            <form action="{% url 'order_placed' order=order %}" enctype="multipart/form-data" id="idForm" method="post">{% csrf_token %}
                <div class="row cam-section">
                    <div class="area-shop">
                        <div class="row">
                            <div class="col-6 col-lg-6"><h4><strong>Order ID :</strong> {{order_object.order_id}}</h4>
                            </div>
                            <div class="col-6 col-lg-6"><h5><strong>Shop :</strong> {{order_object.business.name}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="date-time">
                        <div class="row">
                            <div class="col-6 col-lg-6"><h4>{{order_object.created | date:'l - j/N/Y'}}</h4></div>
                            <div class="col-6 col-lg-6"><h6>{{order_object.created | time:'h:i A'}}</h6></div>
                        </div>
                    </div>
                    <div class="order-info">
                        <div class="order-text">
                            <h6>Order Info</h6>
                            {% if order_object.order_type == 1 %}
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">SL NO</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Qty</th>
                                        <th scope="col"><i class="fas fa-rupee-sign"></i> INR</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for k in order_object.order_details.all %}
                                    <tr>
                                        <th style="font-weight: normal;">{{forloop.counter}}</th>
                                        <td>{{k.item}}</td>
                                        <td>{{k.quantity}} {{k.unit.short_name}}</td>
                                        <td>{{k.price}}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="border-top:1px solid #e2e2e2; border-bottom:1px solid #e2e2e2;">
                                        <th scope="row"></th>
                                        <td colspan="2" style="font-weight: 600;">Total</td>
                                        <td style="font-weight: 600;">{{order_object.order_amount}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            {% else %}
                                {% if order_object.order_bill %}
                                    <div class="container">
                                        <div class="text-center pt-3">
                                            <img alt="Responsive image" class="w-100" src="{{ order_object.order_bill.url }}" style="max-width:400px; height:auto;">
                                        </div>
                                    </div>
                                    <hr>
                                {% endif %}
                                <div class="p-3" style="font-size:14px;">
                                    <div class="row">
                                        <div class="col-8">Total Items in Order</div>
                                        <div class="col-4 text-left">: {{order_object.order_total_items}}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">Total Amount <i class="fas fa-rupee-sign" style="color: #000; font-size:14px;"></i> </div>
                                        <div class="col-4 text-left">: {{order_object.order_amount}}</div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="delivery-details" id="de">
                            <h6>Delivery Details</h6>
                            <div class="delivery-text">
                                <div class="row">
                                    <div class="col-lg-2 col-5"><h3>Delivery Charge</h3></div>
                                    <div class="col-lg-10 col-7"><p class="mt-1">{{order_object.expected_delivery_charge}}</p></div>

                                    <div class="col-lg-2 col-5"><h3>Delivery Address</h3></div>
                                    <div class="col-lg-10 col-7">
                                        <p class="mt-1">{{order_object.common_user.address}} <br>
                                            {{order_object.common_user.landmark}}</p>
                                    </div>
                                    <h4 style="text-align: left;">Note : Delivery charge will be optimized if you placed more than one order in
                                        the day. Optimized delivery charge will be displayed in the delivery
                                        section!
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="delivery-details" id="pe">
                            <h6>Payment Details</h6>
                            <div class="delivery-text">
                                <div class="row">
                                    <div class="col-lg-2 col-5"><h3 title="">Delivery Mode</h3></div>
                                    <div class="col-lg-10 col-7"><p class="mt-1">Scheduled Delivery</p></div>

                                    <div class="col-lg-2 col-5"><h3>Payment Mode</h3></div>
                                    <div class="col-lg-10 col-7">
                                        <p class="mt-1">Pay on Delivery(Cash or UPI)</p>
                                    </div>
                                    <h4 style="text-align: left;">Note : More payment modes, delivery modes will be open soon, and we currently
                                        deliver orders once in a day(usually from 4PM to 6PM). You can pay directly
                                        to our delivery agent or via UPI at the time of delivery.
                                    </h4>
                                </div>
                                <div class="row text-center">
                                    <div class="col-6">
                                        <button class="btn btn-primary" type="submit">Confirm</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-secondary" type="button" onclick="window.location.assign('{% url 'cancel_order' order=order_object.id %}')">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}