<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>DoorDropp | Business</title>
    <!--===============================================================================================-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/util.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/other_login.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Font awesome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          rel="stylesheet">
</head>
<style>
    .messages{
        position: absolute;
    }
    @media only screen and (max-width: 575px){

        /* -------- message -----------*/
        .messages{
            top: 20px;
            right: 16px;
            bottom: 0;
            left: 15px;
        }
    }

</style>
<body>

<div class="bg-contact100" style="background-image: url({% static 'img/login-bg.jpg' %});">
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img alt="IMG" src="{% static 'img/img-01.png' %}">
            </div>
            <form action="{% url 'business_login' %}" method="post" class="contact100-form validate-form">
                {% csrf_token %}
                {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}
                <div class="mob-logo text-center js-tilt" data-tilt>
                    <img alt="Logo" src="{% static 'img/doordropp-logo.png' %}">
                </div>
                <span class="contact100-form-title">
                    Business - Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid mobile number is required">
                    <input class="input100" id="id_mobile" maxlength="10" minlength="10" name="mobile" placeholder="Mobile number"
                           required type="text">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input type="password" class="input100" id="id_password" name="password" placeholder="Password" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
                <div class="f-pass text-center">
                    <h6><a href="{% url 'reset_password_business' %}">Forgot Password ?</a></h6>
                </div>
                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        Login
                    </button>
                </div>
                <div class="ajent-bus text-center">
                    <p>Are you User ? <a href="{% url 'user_index' %}"> User Login Here</a></p>
                    <p>Are you Delivery Agent ? <a href="{% url 'agent_index' %}">Agent Login Here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/common/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/common/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/common/tilt.jquery.min.js' %}"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
    $(document).ready( function(){
        $(".messages").fadeOut(4000);
    });
</script>
<script src="{% static 'js/common/other_login.js' %}"></script>

</body>
</html>
