{% extends 'business/base_business.html' %}

{% load static %}
{% block content %}

<style>
    .myorder-search select {
        border: 1px solid #c4c4c4;
        border-radius: 5px;
        background-color: #fff;
        padding: 3px 5px;
        width: 100%;
        font-size: 12px;
    }

</style>

{% if amount_due %}
<section>
    <div class="container">
        <div class="payment-notificaton-busi">
            <h3>Total amount to be received : {{amount_due}}</h3>
            <p>Don't worry, the total amount will be paid every day and you will be notified when the
            payment is made. If you have not already updated the payment details,
            please update immediately from the profile section.</p>
        </div>
    </div>
</section>
{% endif %}

<section>
    <div class="container">
        <div class="myorder-search">
            <form action="{% url 'business_payments' %}" enctype="multipart/form-data" id="idForm" method="post">
                {% csrf_token %}
                <div class="row m-1">
                    <div class="col-6 col-sm-6 col-lg-6">
                        <div class="date-section">
                            <label for="id_date_from">Date From</label>
                            <input class="w-100" id="id_date_from" name="date_from" type="date">
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-lg-6">
                        <div class="date-section">
                            <label for="id_date_to">Date To</label>
                            <input class="w-100" id="id_date_to" name="date_to" type="date">
                        </div>
                    </div>
                    <div class="order-btn text-center">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section>
    <div class="container">
        {% for i in all_transactions %}
        <div class="debit-section mt-3 mb-2">
            <div class="row">
                <div class="col-lg-6 col-6"><h6>{{i.reference_id}}</h6></div>
                <div class="col-lg-6 col-6"><h5>{{i.created|date:'j-N-Y'}}</h5></div>
            </div>
            <div class="row pt-3">
                <div class="col-lg-6 col-6"><p>Total Amount : {{i.amount}}</p></div>
                <div class="col-lg-6 col-6"><span>{{i.pay_by}}</span></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-4"><h4 style="text-align: left;">Transaction ID</h4></div>
                <div class="col-lg-4 col-4"><h4>Amount</h4></div>
                <div class="col-lg-4 col-4"><h4 style="text-align: right;">Date</h4></div>
            </div>
            <hr class="p-0 m-0 mb-1">
            {% for j in i.transactions.all %}
            <div class="row">
                <div class="col-lg-4 col-4"><h4 style="text-align: left;">{{j.transaction_id}}</h4></div>
                <div class="col-lg-4 col-4"><h4>{{j.amount}}</h4></div>
                <div class="col-lg-4 col-4"><h4 style="text-align: right;">{{j.created|date:'j-N-Y'}}</h4></div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
