{% extends 'delivery_agent/base_agent.html' %}

{% load static %}
{% block content %}

<section>
    <div class="container">
        <div class="reset-password">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Change Password</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form class="form-horizontal" id="idForm" action="{% url 'agent_change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            <label class="col-form-label" for="id_password">Current Password</label>
                            <div class="">
                                <input class="form-control" id="id_password" placeholder="Current Password" name="old_password" type="password" maxlength="100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="id_new_password">New Password</label>
                            <div class="">
                                <input class="form-control" id="id_new_password" placeholder="New Password" name="new_password" type="password" maxlength="100" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="id_retype_password">Re-Enter Password</label>
                            <div class="">
                                <input class="form-control" id="id_retype_password" placeholder="Re-Enter Password" name="retype_password" type="password" maxlength="100" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                    <!-- /.card-footer -->
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
