<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>DoorDropp | Agent</title>
    <!--===============================================================================================-->
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/png"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href="{% static 'css/util.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/other_login.css' %}" rel="stylesheet" type="text/css">
    <!--===============================================================================================-->
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <!-- Font awesome -->
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
          rel="stylesheet">
</head>
<style>
    .messages{
        position: absolute;
    }
    @media only screen and (max-width: 575px){

        /* -------- message -----------*/
        .messages{
            top: 20px;
            right: 16px;
            bottom: 0;
            left: 15px;
        }
    }

</style>
<body>

<div class="bg-contact100" style="background-image: url({% static 'img/login-bg.jpg' %});">
    <div class="container-contact100">
        <div class="wrap-contact100">
            <div class="contact100-pic js-tilt" data-tilt>
                <img alt="IMG" src="{% static 'img/img-01.png' %}">
            </div>
            <form class="contact100-form validate-form" action="{% url 'reset_password_agent' %}" method="post">
                {% csrf_token %}
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div {% if message.tags %} class="{{ message.tags }} alert-dismissible fade show" role="alert"{% endif %}>
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="mob-logo text-center js-tilt" data-tilt>
                    <img alt="Logo" src="{% static 'img/doordropp-logo.png' %}">
                </div>
                <span class="contact100-form-title">
                    <i class="fas fa-unlock-alt"></i>
                    <h5>Reset Password</h5>
                </span>
                <div class="wrap-input100 validate-input" data-validate="Valid mobile number is required">
                    <input type="text" maxlength="10" minlength="10" class="input100" id="id_mobile" name="mobile" placeholder="Registered mobile number" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-mobile-alt"></i>
                    </span>
                </div>
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input type="email" class="input100" id="id_email" name="email" placeholder="Registered email address" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                </div>

                <div class="container-contact100-form-btn">
                    <button class="contact100-form-btn" type="submit">
                        Reset
                    </button>
                </div>
                <div class="ajent-bus text-center">
                    <p>
                        If you didn't add the email? <br>please contact the administrator by
                        call <a href="tel:+919495495516"><i class="fa fa-phone"></i></a>&nbsp; or
                        mail &nbsp;<a href="mailto:info@izado.in"><i class="fa fa-envelope"></i></a>
                    </p>
                    <p>Back to Login? <a href="{% url 'agent_login' %}">Login Here</a></p>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/common/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/common/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/common/tilt.jquery.min.js' %}"></script>
<script>
    const tilt = $('.js-tilt').tilt({
        scale: 1.1
    })

    $(document).ready( function(){
        $(".messages").fadeOut(4000);
    });
</script>
<script src="{% static 'js/common/other_login.js' %}"></script>

</body>
</html>
